[submodule "backend"]
	path = backend
	url = https://github.com/shaileshaanand/lab-reporter.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/shaileshaanand/lab-reporter-react.git
